.box>i {
    animation-name: move;

    animation-duration: 4s;
    /* animation-direction: reverse; */
    color: aqua;
    position: relative;
    /* animation-iteration-count:infinite; ; */
}
.box>i::after{
    content: "";
    position: absolute;
    bottom: -4px;
    right: 100%;
    width: 0%;
    height: 1px;
    background-color: blue;
    animation: runLine 2s ease-out infinite, fadeOut 2s ease-out infinite;
}
@keyframes move {
    0% {
        left: 0px;
        top: 0px;
opacity: 1;
    }

    24% {
        left: 80px;
        top: 0px;
        transform: rotate(0deg);

    }

    25% {

        transform: rotate(90deg);
        color: red;
    }

    49% {
        left: 80px;
        top: 80px;
        transform: rotate(90deg);
        

    }
    

    50% {
        left: 80px;
        top: 80px;
        transform: rotate(180deg);
        color: turquoise;
    }

    74% {
        left: 0px;
        top: 80px;
        transform: rotate(180deg);
    }
    75% {
        left: 0px;
        top: 80px;
        transform: rotate(270deg);
        color: white;
       
    }
    99% {
        left: 0px;
        top: 0px;
        transform: rotate(270deg);
        color: yellow;
    }
    100% {
        left: 0px;
        top: 0px;
        transform: rotate(360deg);
    }

    /* 74% {
        left: 80px;
        top: 0px;
        transform: rotate(270deg);
    }
    75% {
        left: 0px;
        top: 80px;
        transform: rotate(270deg);
    }

    99% {
        left: 0px;
        top: 0px;
        transform: rotate(360deg);
    }
    100% {
        left: 0px;
        top: 0px;
        transform: rotate(360deg); */
}
}

@keyframes roll {}
@keyframes runLine {
    0% {
        width: 0%;
        left: 50%;
    }
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0%;
        left: 0;
    }
}

/* Hiệu ứng mờ dần */
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}